.form {
  display: flex;
  justify-content: space-around;
  text-align: left;
  flex-direction: column;
  gap: 1.5rem;
}

.form > div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.5rem;
}

.input>input,textarea {
  padding: 0.3rem;
  border-radius: 12px;
  border: 1px solid rgb(212, 199, 199);
}

.input>label {
  font-weight: 600;
}
